<% include _header %>
<h1>Welcome to Learn Express with MongoDB!</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        Welcome to the home page 
    </div>
    <div class="panel-body">
        <div class=" col-md-4 col-md-offset-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    Application: Users
                </div>
                <div class="panel-body">
                    <a type="button" class="btn btn-default" href="/users">Users</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include _footer %>