<% include _header %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sign up into the system 
            </div>
            <div class="panel-body">
                <form action="/signup" method="post" class="form">
                    <% include _csrf %>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include _footer %>